.usertable{
    width: 60%;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0.065);
    
}
.usertable table{
        width: 100%;
        margin-top: 30px;
}
.usertable table thead th{
    background-color: darkcyan;
    color: white;
    text-align: center;
}
.usertable table tbody td{
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}
.actionbutton button{
    margin: 0px 10px;
}